
_::-moz-svg-foreign-content, :root .no-js .owl-carousel,
.owl-carousel.owl-loaded {
    
    
}

_::-moz-svg-foreign-content, :root .owl-dots .owl-dot {
    
float: left;}

_::-moz-svg-foreign-content, :root .owl-dots {
    
display: table; margin: auto; padding-top: 20px;}

_::-moz-svg-foreign-content, :root .f_bg ul {
    
margin: auto; display: table;}

_::-moz-svg-foreign-content, :root .f_bg ul li {
    
float: left;}


_::-moz-svg-foreign-content, :root .navbar {
    
}
_::-moz-svg-foreign-content, :root .navbar-brand {
    
}
_::-moz-svg-foreign-content, :root .navbar ul li{
    float:left;
}
_::-moz-svg-foreign-content, :root .single_use {
    
}

_::-moz-svg-foreign-content, :root .register_body {
    
}

_::-moz-svg-foreign-content, :root .container_register {
    
}

_::-moz-svg-foreign-content, :root .register_1st_section {
    
}

_::-moz-svg-foreign-content, :root .register_2nd_section {
}

_::-moz-svg-foreign-content, :root .register_2nd_section_lists span {
}





_::-moz-svg-foreign-content, :root .row {
}


_::-moz-svg-foreign-content, :root .col-lg-6 {
}


_::-moz-svg-foreign-content, :root .card {
}

_::-moz-svg-foreign-content, :root .card-body h5 {
}

_::-moz-svg-foreign-content, :root .owl-dots {
}




@media screen and (max-width: 1080px) and (min-width: 992px) {
    
_::-moz-svg-foreign-content, :root .no-js .owl-carousel,
.owl-carousel.owl-loaded {
    
    
}

_::-moz-svg-foreign-content, :root .owl-dots .owl-dot {
    
}

_::-moz-svg-foreign-content, :root .owl-dots {
    
}

_::-moz-svg-foreign-content, :root .f_bg ul {
    
}

_::-moz-svg-foreign-content, :root .f_bg ul li {
    
}


_::-moz-svg-foreign-content, :root .navbar {
    
}
_::-moz-svg-foreign-content, :root .navbar-brand {
    
}
_::-moz-svg-foreign-content, :root .navbar ul li{
    float:left;
}
_::-moz-svg-foreign-content, :root .single_use {
    
}

_::-moz-svg-foreign-content, :root .register_body {
    
}

_::-moz-svg-foreign-content, :root .container_register {
    
}

_::-moz-svg-foreign-content, :root .register_1st_section {
    
}

_::-moz-svg-foreign-content, :root .register_2nd_section {
}

_::-moz-svg-foreign-content, :root .register_2nd_section_lists span {
}





_::-moz-svg-foreign-content, :root .row {
}


_::-moz-svg-foreign-content, :root .col-lg-6 {
}


_::-moz-svg-foreign-content, :root .card {
}

_::-moz-svg-foreign-content, :root .card-body h5 {
}

_::-moz-svg-foreign-content, :root .owl-dots {
}

    
    
}




@media screen and (max-width: 991px) and (min-width: 768px) {
    
_::-moz-svg-foreign-content, :root .no-js .owl-carousel,
.owl-carousel.owl-loaded {
    
    
}

_::-moz-svg-foreign-content, :root .owl-dots .owl-dot {
    
}

_::-moz-svg-foreign-content, :root .owl-dots {
    
}

_::-moz-svg-foreign-content, :root .f_bg ul {
    
}

_::-moz-svg-foreign-content, :root .f_bg ul li {
    
}


_::-moz-svg-foreign-content, :root .navbar {
    
display: table;
z-index: 9999;
width: 100%;
    
}
_::-moz-svg-foreign-content, :root .navbar-brand {
    
}
_::-moz-svg-foreign-content, :root .navbar ul li{
    float:left;
width: 100%;
    
}
_::-moz-svg-foreign-content, :root .single_use {
    
}

_::-moz-svg-foreign-content, :root .register_body {
    
}

_::-moz-svg-foreign-content, :root .container_register {
    
}

_::-moz-svg-foreign-content, :root .register_1st_section {
    
}

_::-moz-svg-foreign-content, :root .register_2nd_section {
}

_::-moz-svg-foreign-content, :root .register_2nd_section_lists span {
}





_::-moz-svg-foreign-content, :root .row {
}


_::-moz-svg-foreign-content, :root .col-lg-6 {
}


_::-moz-svg-foreign-content, :root .card {
}

_::-moz-svg-foreign-content, :root .card-body h5 {
}

_::-moz-svg-foreign-content, :root .owl-dots {
}

_::-moz-svg-foreign-content, :root .navbar-collapse {
background: gainsboro;
}
    
.navbar-collapse {
background: gainsboro;
width: 100%;
padding: 25px;
text-align: center;
margin-top: 10px;
z-index: 5000;
height: auto;
padding-bottom: 100px;
}
  
_::-moz-svg-foreign-content, :root .row {
    display:block;
}  
}









@media screen and (max-width: 767px) and (min-width: 250px) {
    

_::-moz-svg-foreign-content, :root .navbar {
display: table;
z-index: 9999;
width: 100%;
    
    
}
_::-moz-svg-foreign-content, :root .navbar-brand {
    
}
_::-moz-svg-foreign-content, :root .navbar ul li{
    float:left;
width: 100%;
}

_::-moz-svg-foreign-content, :root .navbar-collapse {
background: gainsboro;
}

.navbar-collapse {background: gainsboro;width: 100%;padding: 10px;text-align: center;margin-top: 10px;z-index: 5000;height: auto;padding-bottom: 50px;}
}














